.form {
}

.form__title {
  text-align: center;

  margin-bottom: 40px;
}

.form__signin {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}

.sep {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  position: relative;
  color: #bec5cc;

  margin-bottom: 30px;
  font-size: 12px;
}

.sep::after,
.sep::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* max-width: 186px; */
  width: 45%;
  height: 1px;
  background: #bec5cc;
}

.sep::after {
  left: 0;
}

.sep::before {
  right: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.forgot_password {
  margin-top: 15px;

  display: flex;
  justify-content: flex-end;
}
.forgot_password a {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary);

  text-decoration: none;
}

.submitBtn {
  margin-top: 30px;
}

.signUp {
  margin-top: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  text-align: right;
}

.signUp__link {
  color: var(--primary);

  font-size: 14px;

  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-decoration: none;

  margin-left: 5px;
  cursor: pointer;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-height: 650px){
  .auth{
    height: 100vh;
  }
}